<!DOCTYPE html>
<html lang="en">
{{>header}}
<body class="dark-mode font-sans">
<div class="flex min-h-screen">
    <!-- 사이드바 -->
    {{>sidebar}}

    <!-- 메인 콘텐츠 -->
    <main class="flex-1 p-6 transition-all duration-300 md:pl-12 md:pr-12">
        <header class="flex justify-between items-center pb-4 border-b border-teal-700">
            <h1 class="text-2xl font-bold">앨범 관리</h1>
            <a href="/admin/albums/create" class="px-4 py-2 bg-teal-700 text-white rounded hover:bg-teal-600">
                신규 등록
            </a>
        </header>
        {{>albums/album-list}}
    </main>
</div>
</body>
</html>
